/***** SEARCH BAR COMPONENT CSS *****/

.search-bar {
    display: flex;
    width: 274px;
}

.search-input {
    display: flex;
    width: 100%;
    border-radius: 50px;
    border: 1.5px solid transparent;
    background-color: #ECEBE4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
    align-items: center;
    overflow: hidden;
    transition: border 0.2s ease-in-out;
}

.search-input:focus-within {
    border: 1.5px solid #153B50;
}

.search-icon-wrapper {
    background-color: transparent !important;
    border: none !important;
    padding-left: 18px !important;
    color: #153B50;
}

.search-icon {
    font-size: 1rem;
}

.search-input-field {
    background-color: transparent !important;
    border: none !important;
    color: #153B50;
    font-size: 16px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 18px !important;
}

.search-input-field::placeholder {
    color: #153B50;
    opacity: 0.7;
}

.search-input-field:focus {
    box-shadow: none !important;
    background-color: transparent !important;
    outline: none;
}
